.fa-cloud {
  color: lightblue;
  margin-top: 15px;
}

.fa-heart {
  color: red;
  margin-top: 15px;
}

.fa-rocket {
  color: red;
  margin-top: 15px;
}

.fa-mobile {
  color: black;
  margin-top: 15px;
}

.fa-clock-o {
  color: orange;
  margin-top: 15px;
}

.fa-cogs {
  color: black;
  margin-top: 15px;
}

.fa-ticket {
  color: gold;
  margin-top: 8px;
}

.fa-twitter {
  color: lightblue;
  margin-top: 8px;
}